<section class="flex flex-col w-full max-w-5xl mt-4 justify-start mx-auto gap-4">
    <breadcrumb [routes]="routes"></breadcrumb>
    @if (appStore.userIsAuthenticated()) {
        <div class="flex flex-col mb-24">
            <div class="mb-6 flex flex-col">
                <h1 class="text-2xl font-semibold text-neutral-600">Payment Method and Information</h1>
                <span class="w-fit text-xs mt-2">You can change your personal information any time before proceed.</span>
            </div>
            <div class="flex flex-col md:flex-row gap-6 justify-between">
                <form class="flex w-full md:w-1/2 lg:w-1/3 flex-col gap-4" (submit)="onSubmit($event)">
                    <div class="flex flex-col gap-1">
                        <label for="card" class="font-bold text-sm text-neutral-800">Card number<span class="text-red-600 ms-1">*</span></label>
                        <input [field]="checkout_form.card" placeholder="0000111122223333" type="number" id="card" class="w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                               [class]="isFieldInvalid('card') ? 'border-red-300 ring-red-300' : ''">
                        @if (isFieldInvalid('card')) {
                            @for (error of checkout_form.card().errors(); track $index) {
                                <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                            }
                        }
                    </div>
                    <div class="flex flex-row gap-4">
                        <div class="flex flex-col gap-1 w-2/4">
                            <label for="card_expire" class="font-bold text-sm text-neutral-800">Card expiry date<span class="text-red-600 ms-1">*</span></label>
                            <input [field]="checkout_form.card_expire" placeholder="" type="month" id="card_expire" class="w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                                   [class]="isFieldInvalid('card_expire') ? 'border-red-300 ring-red-300' : ''">
                            @if (isFieldInvalid('card_expire')) {
                                @for (error of checkout_form.card_expire().errors(); track $index) {
                                    <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                                }
                            }
                        </div>
                        <div class="flex flex-col gap-1 w-2/4">
                            <label for="card_code" class="font-bold text-sm text-neutral-800">Card code<span class="text-red-600 ms-1">*</span></label>
                            <input [field]="checkout_form.card_code" placeholder="000" type="number" id="card_code" class="w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                                   [class]="isFieldInvalid('card_code') ? 'border-red-300 ring-red-300' : ''">
                            @if (isFieldInvalid('card_code')) {
                                @for (error of checkout_form.card_code().errors(); track $index) {
                                    <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="full_name" class="font-bold text-sm text-neutral-800">Name<span class="text-red-600 ms-1">*</span></label>
                        <input [field]="checkout_form.full_name" placeholder="Name Lastname" type="text" id="full_name" class="capitalize w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                               [class]="isFieldInvalid('full_name') ? 'border-red-300 ring-red-300' : ''">
                        @if (isFieldInvalid('full_name')) {
                            @for (error of checkout_form.full_name().errors(); track $index) {
                                <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                            }
                        }
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="address" class="font-bold text-sm text-neutral-800">Facturation address<span class="text-red-600 ms-1">*</span></label>
                        <input [field]="checkout_form.address" placeholder="Street No." type="text" id="address" class="capitalize w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                               [class]="isFieldInvalid('address') ? 'border-red-300 ring-red-300' : ''">
                        @if (isFieldInvalid('address')) {
                            @for (error of checkout_form.address().errors(); track $index) {
                                <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                            }
                        }
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="zipcode" class="font-bold text-sm text-neutral-800">Zipcode<span class="text-red-600 ms-1">*</span></label>
                        <input [field]="checkout_form.zipcode" placeholder="Zipcode" type="text" id="zipcode" class="w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                               [class]="isFieldInvalid('zipcode') ? 'border-red-300 ring-red-300' : ''">
                        @if (isFieldInvalid('zipcode')) {
                            @for (error of checkout_form.zipcode().errors(); track $index) {
                                <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                            }
                        }
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="city" class="font-bold text-sm text-neutral-800">City<span class="text-red-600 ms-1">*</span></label>
                        <input [field]="checkout_form.city" placeholder="City" type="text" id="city" class="capitalize w-full bg-white border border-neutral-200 rounded px-2 py-1 outline-0 ring-0 focus:ring-2 ring-blue-300 transition-all duration-100"
                               [class]="isFieldInvalid('city') ? 'border-red-300 ring-red-300' : ''">
                        @if (isFieldInvalid('city')) {
                            @for (error of checkout_form.city().errors(); track $index) {
                                <span class="text-xs font-semibold text-red-500">{{ error.message }}</span>
                            }
                        }
                    </div>
                </form>
                <div class="flex w-full md:w-1/2 lg:w-2/3 flex-col">
                    <ul class="flex flex-col gap-3 w-full justify-between">
                        @for (item of appStore.user_cart().entries(); track $index) {
                            <li class="border rounded-sm border-neutral-200 group h-24 w-full flex flex-row">
                                <div class="flex w-1/5 h-full aspect-square justify-center items-center bg-neutral-100">
                                    <img [src]="appStore.product_list().get(item[0])!.image" [alt]="appStore.product_list().get(item[0])!.title" class="w-auto h-16 object-cover">
                                </div>
                                <div class="flex flex-col w-4/5 h-full gap-2 px-4 py-2 relative">
                                    <h2 class=" text-base line-clamp-1">
                                        <span class="text-green-600 font-bold">{{ item[1] }}x </span>
                                        {{ appStore.product_list().get(item[0])!.title }}
                                    </h2>
                                    <p class="text-lg md:text-2xl font-bold tracking-tight text-neutral-600">{{ (appStore.product_list().get(item[0])!.price * item[1]) | currency: 'USD' }}</p>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex px-4 py-2 items-center fixed bottom-0 left-0 w-full border-t border-t-neutral-200 bg-white/80 backdrop-blur-lg z-10">
            <div class="w-full flex flex-row max-w-5xl justify-between mx-auto">
                <div class="flex items-center">
                    <h1 class="text-2xl font-bold text-neutral-600">{{ appStore.getTotalPricing() | currency: "USD" }}</h1>
                </div>
                <div class="flex flex-row items-center gap-3">
                    <button [disabled]="is_loading()" (click)="onSubmit($event)"
                            class="flex items-center gap-3 w-fit font-semibold bg-green-600/80 hover:bg-green-700 cursor-pointer text-white rounded-full px-8 py-2 transition-colors duration-100 disabled:bg-green-600/80 disabled:hover:bg-green-600/80 disabled:hover:cursor-not-allowed">
                        Proceed
                        @if (is_loading()) {
                            <span class="flex w-5 h-5 border-4 border-white/50 border-l-white rounded-full animate-spin"></span>
                        }
                    </button>
                </div>
            </div>
        </div>

    }
</section>